#home {

    flex-direction: column;
    padding: 0px;
    /* margin: 0px; */
    /* display:contents; */
    width: 100%;

}

.heading{
    font-size: 1.7rem;
}
@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .mainpic {
        margin-top: 30vh;
        width: 70%;


    }

    .gallery-img {
        width: 30%;
    }

    .navi ul li{
        font-size: 1rem;
    }
  
    .menu-btn img{
        width: 30px;
        height: 30px;

    }
    .dropdown:hover .card {
        display: block;
        position: absolute;
        right :10vw;
    }
    .card {
        display: none;
        position: absolute;
        /* top: 100px; */
        right: 20px;
        /* float: left; */
        background-color: rgba(6, 1, 51, 0.179);
        text-align: center;
        /* min-width: 160px; */
        width: 50%;
        border-radius: 10%;
        box-shadow: 0 0 5px white;
        z-index: 1;
        backdrop-filter: blur(20px);
        
    }
    

}

#home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    /* margin-top: 400px; */


    text-align: center;
}


.imgp {
    padding-bottom: 400px;
    display: flex;
    text-align: center;
}

.headings {
    font-size: 1.7rem;
}

#pic img {
    width: 100%;
    height: auto;
}

#intro h2 {
    font-size: 1.5rem;
}

/* .gallery img{
    width: 275px;
    height: 150px;
    margin: 10px;
} */

.input {
    width: 80%;
}

#msg {
    width: 70%;
}

#send {
    width: 20%;
}

.imgp h1 {
    padding-bottom: 40px;
    padding-left: 30px;
    text-align: center;
    color: red;
    margin: 30px;
    justify-content: center;
}